/* règles génériques */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #F6F8F9;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

h3 {
    font-size: 1.2rem;
    color: #FA6980;
    text-transform: uppercase;
    font-weight: 900;
}

h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 900;
}

p {
    color: #A6ADB4;
}

/************* header nav *****************/
header {
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s;
    color: black;
    opacity: .5;
}

header nav ul li a:hover {
    opacity: 1;
}

header nav ul li a.active {
    font-weight: 900;
    opacity: 1;
}


/* section 1 (hero & more-news) */


.hero {
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.hero .world-news {
    width: 61%;
    height: 100%;
    background-image: url("../images/hero-main-image.png");
    background-size: cover;
    padding: 3rem;
}

.hero .more-news {
    width: 39%;
    height: 100%;
    padding: 3rem;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

/* world news */

.big-title {
    color: white;
    font-weight: 900;
    margin: 5rem 0 3rem 0;
    position: relative;
}

.big-title::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -30px;
}

.world-news p {
    color: white;
    font-weight: 100;
    margin-bottom: 40px;
}

.world-news h2 {
    color: white;

}

.button-more {
    text-decoration: none;
    font-size: .9rem;
    background-color: rgba(250, 105, 129, 0.822);
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    transition: background-color .3s;
}

.button-more:hover {
    background-color: #FA6980;
}

/* more news */

.more-news h2 {
    position: relative;
}

.more-news h2::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.more-news article {
    margin: 3rem 0;
}

.date-online {
    width: 50%;
    height: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-online p {
    margin-left: 20px;
    font-style: italic;
}


/* trending */


.trending {
    width: 80%;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

.trending h2 {
    width: 100%;
}

.arrows {
    width: 60px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-back {
    height: 20px;
    cursor: pointer;
    opacity: .3;
    transition: opacity .4s;
}

.arrow-next {
    height: 20px;
    cursor: pointer;
    transition: opacity .4s;
}

.caroussel {
    width: 133%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trending .carroussel-article-1,
.trending .carroussel-article-2,
.trending .carroussel-article-3,
.trending .carroussel-article-4 {
    height: 350px;
    background-color: white;
    border-radius: 5px;
    transition: transform .4s;
    cursor: pointer;
}

.trending .carroussel-article-1:hover,
.trending .carroussel-article-2:hover,
.trending .carroussel-article-3:hover,
.trending .carroussel-article-4:hover {
    transform: translateY(-10px);
}




/*  section happening  */

.happening {
    height: 1000px;
    width: 80%;
    margin: auto;
}


























/* formulaire */

form {
    height: 200px;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(181, 250, 255);
    margin: auto;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrer-chiffre {
    height: 40px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding-left: 20px;
    border: 1px solid rgb(0, 107, 194);
    border-radius: 20px;
}

button {
    background-color: tomato;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s;
}

button:hover {
    opacity: 1;
}